/*=============== REUSABLE CSS CLASSES ===============*/
.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section{
    padding: $header-height + 1rem 0 1rem;

    // Important, When you insert your content, 
    // remove the section height class
    &__height{
        height: 100vh;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: $h1-font-size;
  color: $title-color;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: $mb-3;
}

.section__title, 
.section__subtitle {
  text-align: center;
}


/*==================== BUTTONS ====================*/
.button{
    display: inline-block;
    background-color: $first-color;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: $font-medium;
  }
  
  .button:hover{
    background-color: $first-color-alt;
  }
  
  .button__icon{
    font-size: 1.25rem;
    margin-left: $mb-0-5;
    transition: .3s;
  }
  
  .button--flex{
    display: inline-flex;
    align-items: center;
  }
  
  .button--small{
    padding: .75rem 1rem;
  }
  
  .button--link{
    padding: 0;
    background-color: transparent;
    color: $first-color;
  }
  
  .button--link:hover{
    background-color: transparent;
    color: $first-color-alt;
  }