<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <link rel="stylesheet" href="./style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./model.css">
</head>

<body>
    <div class="Recent-order col-sm-12 col-6 col-md-10 col-xl-8">
        <h2>商品管理</h2>        
        <div class="tableFunction col-12">
            <div class="col-4">
                <div class="title">產品名稱</div>
                <div class="content">
                    <div class="searchBar">
                        <div class="inputWrapper">
                            <i class='bx bx-search-alt-2 searchIcon'></i>
                            <input type="text" class="inputSearch" placeholder="Search..." v-model="keyword">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="title">狀態</div>
                <div class="content">
                    <div class="StatusBar">
                        <select v-model="selectedStatus">
                            <option value="all">全部</option>
                            <option value="active">在庫</option>
                            <option value="frozen">庫存不足</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="title">種類</div>
                <div class="content">
                    <div class="StatusBar">
                        <select v-model="selectedCategory">
                            <option value="全部">全部</option>
                            <option value="零食">零食</option>
                            <option value="水果">水果</option>
                            <option value="蔬菜">蔬菜</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table__container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>產品圖片</th>
                        <th>產品名稱</th>
                        <th>種類</th>
                        <th>成本<i class='bx bxs-sort-alt sortIcon'></i></th>
                        <th>售價<i class='bx bxs-sort-alt sortIcon'></i></th>
                        <th>庫存量<i @click="sortType === 1? sortType =2: sortType = 1"
                                class='bx bxs-sort-alt sortIcon'></i>
                        </th>
                        <th>狀態</th>
                        <th>編輯</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td>1</td>
                        <td><img src="./resources/banana.jpg" class="productImg" alt=""></td>
                        <td>洋芋片</td>
                        <td>零食</td>
                        <td>$20</td>
                        <td>$30</td>
                        <td>200</td>
                        <td><span class="active">在庫</span></td>                    
                    </tr>-->
                    <template v-if="filterProducts">
                        <tr v-for="p in filterProducts">
                            <td v-for="item in p">
                                <img v-if="item === p.img" :src="item" class="productImg">
                                <span v-else-if="item === p.status" :class="item">{{item == "active"? "庫存充足":"庫存不足"}}</span>
                                <template v-else-if="item === p.icon">
                                    <i @click="EditProducts(p)" :class="item"></i>                                    
                                </template>
                                <template v-else-if="item === p.trash">
                                    <i @click="DeleteProducts"  :class="item"></i>
                                </template>
                                <span v-else>{{item}}</span>
                            </td>
                        </tr>
                    </template>                                     
                </tbody>
            </table>
            <template v-if="filterProducts.length == 0">                
                <h1><i class='bx bx-smile' ></i>商品不存在喔!!</h1>
            </template>
        </div>
        <div v-if="filterProducts.length > 5" class="arrow-down">
            <i class='bx bx-chevrons-down'></i>
        </div>

        <div class="modal__container" :class="modalContainerStyle" id="modal-container">
            <div class="modal__content d-flex flex-column justify-content-around" :class="modalContentStyle">
                <div class="modal__close close-modal" @click="closeModal" title="Close">
                    <i class='bx bx-x'></i>
                </div>
    
                <h1 class="modal__title">商品管理</h1>
                <p class="modal__description">{{EditOrDelete == 'Edit'? "修改商品明細" : "刪除商品"}}</p>
    
                <div class="model__product row g-5">
                    <template v-if="EditOrDelete == 'Edit'">
                        <div class="col-6 imgPreview-container">
                            <div class="imgPreview">
                                <i v-if="!uplodaImgPreview.preview" class='bx bx-image-add icon'></i>
                                <img v-if="uplodaImgPreview.preview" :src="uplodaImgPreview.preview" alt="">
                            </div>
                            <div class="custom-file-upload-container" >
                                <label for="file-upload" class="custom-file-upload"><i
                                        class='bx bx-cloud-upload'></i>上傳圖片</label>
                                <input v-on:change="previewImage" type="file" id="file-upload">
                            </div>
                        </div>
                        <div class="col-6 productDetail__container">
                            <div>
                                <div>名稱</div>
                                <input type="text" placeholder="葡萄" class="productItemInp" v-model="EditProductsList.Name">
                            </div>
                            <div>
                                <div>種類</div>
                                <input type="text" placeholder="水果" class="productItemInp" v-model="EditProductsList.category">
                            </div>
                            <div>
                                <div>成本</div>
                                <input type="text" placeholder="20" class="productItemInp" v-model="EditProductsList.cost">
                            </div>
                            <div>
                                <div>價格</div>
                                <input type="text" placeholder="35" class="productItemInp" v-model="EditProductsList.price">
                            </div>
                            <div>
                                <div>數量</div>
                                <input type="text" placeholder="100" class="productItemInp" v-model="EditProductsList.amount">
                            </div>
                        </div>                    
                        <button class="modal__button modal__butoon-width" @click="closeModalWithHints">
                            更新
                        </button>
                    </template>
                    
                    <template v-else>
                        <div class="d-flex align-content-center justify-content-between">
                            <button class="modal__button modal__butoon-width" @click="closeModalWithHint">
                                刪除
                            </button>
            
                            <button class="modal__button-link close-modal" @click="closeModal">
                                取消
                            </button>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <!--========== Messge toast ==========-->
        <div class="message-toast-wrapper" :class="toastHintStlye">
            <i class='bx bxs-check-circle message-toast-icon' ></i>
            <p class="message-toast-title">新增成功</p>
        </div>
    </div>



    <script src="./vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script>
        const vm = new Vue({
            el: ".Recent-order",
            data: {
                keyword: "",
                sortType: "0",
                selectedStatus: "all",
                selectedCategory: "全部",
                products: [
                    { id: "1", img: "./resources/grape.jpg", Name: "葡萄", category: "水果", cost: "$20", price: "$50", amount: "200", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "2", img: "./resources/grava.jpg", Name: "木瓜", category: "水果", cost: "$30", price: "$40", amount: "10", status: "frozen", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "3", img: "./resources/kiwi.jpg", Name: "奇異果", category: "水果", cost: "$40", price: "$90", amount: "25", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "4", img: "./resources/melon.jpg", Name: "哈密瓜", category: "水果", cost: "$50", price: "$80", amount: "9", status: "frozen", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "5", img: "./resources/ownlei.jpg", Name: "鳳梨", category: "水果", cost: "$60", price: "$70", amount: "90", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "6", img: "./resources/chocolate.jpg", Name: "好吃巧克力", category: "零食", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "7", img: "./resources/chocolate (2).jpg", Name: "賊好吃巧克力", category: "零食", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "8", img: "./resources/chocolate (3).jpg", Name: "巨好吃巧克力", category: "零食", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "9", img: "./resources/chocolate (4).jpg", Name: "快融化了巧克力", category: "零食", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "10", img: "./resources/nut.jpg", Name: "堅果", category: "零食", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "11", img: "./resources/sanke.jpg", Name: "洋芋片", category: "零食", cost: "$50", price: "$60", amount: "10", status: "frozen", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "12", img: "./resources/sanke (2).jpg", Name: "奇多", category: "蔬菜", cost: "$50", price: "$60", amount: "10", status: "frozen", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "13", img: "./resources/sanke (3).jpg", Name: "多利多汁", category: "蔬菜", cost: "$50", price: "$60", amount: "10", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "14", img: "./resources/sanke (4).jpg", Name: "樂事", category: "蔬菜", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "15", img: "./resources/sanke (5).jpg", Name: "香草樂事", category: "蔬菜", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                    { id: "16", img: "./resources/sanke (6).jpg", Name: "是我啦哈哈樂事", category: "蔬菜", cost: "$50", price: "$60", amount: "40", status: "active", icon: "bx bxs-edit tableIcon", trash:"bx bx-trash tableIcon" },
                ],
                uplodaImgPreview:{
                    preview: null,
                    image: null,
                },
                EditProductsList:{
                    Name:"",
                    category:"",
                    cost:"",
                    price:"",
                    amount:""
                },
                EditOrDelete: "Edit",
                modalContentStyle:{
                    w200: true,
                    w800: false
                },
                toastHintStlye:{
                    fadeInUp: false
                },
                modalContainerStyle:{
                    showModal:false,
                }
            },
            computed: {
                filterProducts() {
                    //搜尋篩選
                    let arr = this.products.filter(p => {
                        return p.Name.indexOf(this.keyword) !== -1;
                    })
                    //用狀態篩選
                    switch (this.selectedStatus) {
                        case "all":
                            break;
                        case "active":
                            arr = this.products.filter(p => {
                                return p.status.indexOf(this.selectedStatus) !== -1
                            })
                            break;
                        case "frozen":
                            arr = this.products.filter(p => {
                                return p.status.indexOf(this.selectedStatus) !== -1;
                            })
                            break;
                    }
                    //用種類篩選
                    switch (this.selectedCategory) {
                        case "全部":
                            break;
                        case "零食":
                            arr = arr.filter(p => {
                                return p.category.indexOf(this.selectedCategory) !== -1
                            })
                            break;
                        case "水果":
                            arr = arr.filter(p => {
                                return p.category.indexOf(this.selectedCategory) !== -1;
                            })
                            break;
                        case "蔬菜":
                            arr = arr.filter(p => {
                                return p.category.indexOf(this.selectedCategory) !== -1;
                            })
                            break;
                    }

                    //判斷是否需要排序
                    if (this.sortType) {
                        arr.sort((p1, p2) => {
                            return this.sortType === 1 ? p2.amount - p1.amount : 0;
                        })
                    }
                    return arr
                }
            },
            methods: {
                previewImage: function (event) {
                    console.log("change")
                    var input = event.target;
                    if (input.files) {
                        var reader = new FileReader();
                        reader.onload = (e) => {
                            this.uplodaImgPreview.preview = e.target.result;
                        }
                        this.uplodaImgPreview.image = input.files[0];
                        reader.readAsDataURL(input.files[0]);
                    }
                },
                EditProducts(item){
                    this.EditProductsList.Name = item.Name
                    this.EditProductsList.category = item.category
                    this.EditProductsList.cost = item.cost
                    this.EditProductsList.price = item.price
                    this.EditProductsList.amount = item.amount
                    this.uplodaImgPreview.preview = item.img
                    this.EditOrDelete = "Edit"
                    this.modalContentStyle.w200 = false
                    this.modalContentStyle.w800 = true
                    this.openModal()
                },
                DeleteProducts(){
                    this.EditOrDelete = "Delete"
                    this.modalContentStyle.w200 = true
                    this.modalContentStyle.w800 = false
                    this.openModal()
                },
                toastHint(){
                    this.toastHintStlye.fadeInUp = true
                    setTimeout(()=> {
                        this.toastHintStlye.fadeInUp = false
                    }, 2100)
                },
                openModal(){
                    this.modalContainerStyle.showModal = true;
                },
                closeModal(){
                    this.modalContainerStyle.showModal = false;                    
                },
                closeModalWithHint(){
                    this.modalContainerStyle.showModal = false;
                    this.toastHint();
                }
            }
        })
    </script>
    <script src="./main.js"></script>
</body>

</html>